@import "../../partials/globals";
@import "../../partials/header";
@import "../../partials/callButton";
@import "../../partials/footer";

section {
    @include gridCenter();
    row-gap: 20px;
    margin-top: 15vh;
    padding: 0% 10%;
    color: $neutralColorOne;

    h1 {
        font-family: $titleFont;
    }

    #navMenuPages {
        @include gridCenter();
        grid-template-columns: auto auto auto auto;
        width: 100%;
        border-radius: 5px;
        text-align: center;

        a {
            text-decoration: none;
            color: $neutralColorOne;
            font-size: 0.9em;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .itemCard {
        display: grid;
        align-items: center;
        row-gap: 14px;
        width: 85%;
        padding: 8%;
        background: $secondaryColor;
        border-radius: 3px;
        box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);

        &:active {
            box-shadow: none;
        }

        >h1 {
            font-size: 0.9em;
        }
        
        p {
            font-size: 0.68em;
        }

        &:hover .sidePanel {
            opacity: 1;
            right: 0;
            transform: scaleX(1);
            transition: all 0.5s ease-in-out;
        }

        .sidePanel {
            @include gridCenter();
            position: fixed;
            top: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: right;
            opacity: 0;
            width: 55%;
            height: 78%;
            padding: 10%;
            background: $secondaryColor;
            text-align: center;
            transition: all 0.5s ease-in-out;
    
            p {
                font-size: 0.7em;
            }
    
            .generalItemPrice {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
}