@import "../../partials/globals";
@import "../../partials/header";
@import "../../partials/callButton";
@import "../../partials/footer";

section {
    @include gridCenter();
    row-gap: 3%;
    margin-top: 15vh;
    margin-bottom: 53vh;
    padding: 0% 10%;
    color: $neutralColorOne;

    h1 {
        font-family: $titleFont;
    }

    #navMenuPages {
        @include gridCenter();
        grid-template-columns: auto auto auto auto;
        width: 100%;
        border-radius: 5px;
        text-align: center;

        a {
            text-decoration: none;
            color: $neutralColorOne;
            font-size: 0.9em;
        }
    }

    #salePoster {
        background: $neutralColorOne;
        color: $neutralColorTwo;

        >h1 {
            font-size: 0.9em;
            text-align: center;
            margin: 1% 0%;
            letter-spacing: 1px;
        }
    }

    .itemCard {
        display: grid;
        align-items: center;
        width: 90%;
        padding: 7%;
        background: $secondaryColor;
        border-radius: 3px;
        box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);

        >h1 {
            font-size: 0.9em;
        }
        
        p {
            font-size: 0.7em;
            margin-top: 5%;
        }
    }
}

