@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  padding: 2% 0%;
  background: #f7f7f7;
  z-index: 10;
}

header > a {
  text-decoration: none;
}

header > a .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  background: #393e46;
  border-radius: 100%;
}

header > a #logoOuterCircle {
  width: 38px;
  height: 38px;
}

header > a #logoInnerCircle {
  width: 28px;
  height: 28px;
  border: 1.5px solid #f7f7f7;
  color: #f7f7f7;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 0.85em;
}

header > a #okotoksPizzaName {
  display: none;
}

header #mobileHamburgerMenu #mobileNavCheckbox {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: 5;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileTabletNavPages {
  top: 95%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarOne {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarTwo {
  background: transparent;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarThree {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 4;
}

header #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
  width: 30px;
  height: 3px;
  background: #393e46;
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileTabletNavPages {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: #f7f7f7;
  z-index: 10;
  top: -60vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #mobileHamburgerMenu #mobileTabletNavPages a {
  text-decoration: none;
  color: #393e46;
  font-size: 0.8em;
  width: 100%;
  padding: 5% 0%;
  text-align: center;
}

header #mobileHamburgerMenu #mobileTabletNavPages #currentPage {
  background: #eeeeee;
}

header #desktopNavPages {
  display: none;
}

@media only screen and (min-width: 600px) {
  header {
    min-height: 7vh;
    background: #f7f7f7;
  }
  header > a #logoOuterCircle {
    width: 50px;
    height: 50px;
  }
  header > a #logoInnerCircle {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
  }
  header #mobileHamburgerMenu #mobileNavCheckbox {
    width: 30px;
    height: 30px;
  }
  header #mobileHamburgerMenu #mobileHamburgerContainer {
    width: 30px;
    height: 30px;
  }
  header #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
    width: 32px;
    height: 4px;
  }
  header #mobileHamburgerMenu #mobileTabletNavPages {
    top: -200vh;
  }
  header #mobileHamburgerMenu #mobileTabletNavPages a {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  header > a {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  header > a #logoOuterCircle {
    width: 45px;
    height: 45px;
  }
  header > a #logoInnerCircle {
    width: 35px;
    height: 35px;
    font-size: 1.1em;
  }
  header > a #okotoksPizzaName {
    display: block;
    text-decoration: none;
    color: #393e46;
    font-size: 1.3em;
    font-family: "Lora", serif;
    font-weight: 600;
  }
  header #mobileHamburgerMenu {
    display: none;
  }
  header #desktopNavPages {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
  header #desktopNavPages a {
    text-decoration: none;
    color: #393e46;
    font-size: 0.9em;
  }
  header #desktopNavPages a:hover {
    color: rgba(57, 62, 70, 0.5);
  }
  header #desktopNavPages #currentDesktopPage {
    font-weight: bold;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

#callButton {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: fixed;
  bottom: 2%;
  width: 100%;
  background: white;
  -webkit-box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
          box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
  z-index: 12;
}

#callButton a {
  text-decoration: none;
  color: #393e46;
  font-size: 0.85em;
  text-align: center;
  padding: 5% 0%;
  width: 100%;
}

#callButton #tabletDesktopPhoneNumber {
  display: none;
}

@media only screen and (min-width: 600px) {
  #callButton {
    top: 12vh;
    height: 5vh;
    padding: 1% 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: white;
    z-index: 9;
  }
  #callButton a {
    display: none;
  }
  #callButton p {
    color: #393e46;
    letter-spacing: 2px;
  }
  #callButton #tabletDesktopPhoneNumber {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #callButton {
    top: 14vh;
    height: 4vh;
    padding: 1% 0%;
  }
  #callButton p {
    font-size: 0.9em;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  margin-top: 8vh;
  width: 100%;
  background: #eeeeee;
}

footer #subscriptionForm {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 80%;
  min-height: 30vh;
  padding: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393e46;
}

footer #subscriptionForm h1 {
  font-size: 0.9em;
  font-weight: 600;
}

footer #subscriptionForm p {
  font-size: 0.7em;
}

footer #subscriptionForm #subscriptionInputs {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
  padding: 2%;
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid #393e46;
}

footer #subscriptionForm #subscribeButton {
  color: white;
  background: #393e46;
  border-radius: 3px;
  font-size: 0.7em;
  text-align: center;
  width: 80px;
  padding: 3%;
}

footer #subscriptionForm #subscribeButton:hover {
  color: #393e46;
  border: 1px solid #393e46;
  background: white;
}

footer #socialLinksAndCopyright {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background: #f7f7f7;
  color: #393e46;
  font-size: 0.7em;
  text-align: center;
  min-height: 20vh;
  width: 100%;
  padding: 3% 0%;
}

footer #socialLinksAndCopyright #socialMedia {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 70%;
}

footer #socialLinksAndCopyright #socialMedia img {
  width: 20px;
}

footer #socialLinksAndCopyright #socialMedia a {
  text-decoration: none;
}

footer #mobileFooterSpacer {
  width: 100%;
  padding: 6% 0%;
}

@media only screen and (min-width: 600px) {
  footer {
    margin-top: 10vh;
  }
  footer #subscriptionForm {
    row-gap: 30px;
    width: 85%;
    padding: 5% 0%;
  }
  footer #subscriptionForm h1 {
    font-size: 1.2em;
  }
  footer #subscriptionForm p {
    font-size: 1em;
  }
  footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
    font-size: 1em;
    padding: 1%;
  }
  footer #subscriptionForm #subscribeButton {
    font-size: 1em;
    width: 20%;
    padding: 2%;
  }
  footer #socialLinksAndCopyright {
    row-gap: 20px;
    font-size: 0.8em;
    padding: 2% 0%;
  }
  footer #socialLinksAndCopyright #socialMedia {
    padding: 5% 0%;
  }
  footer #socialLinksAndCopyright #socialMedia img {
    width: 25px;
  }
  footer #mobileFooterSpacer {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  footer #subscriptionForm {
    row-gap: 20px;
  }
  footer #subscriptionForm h1 {
    font-size: 1em;
  }
  footer #subscriptionForm p {
    font-size: 0.8em;
  }
  footer #subscriptionForm #subscriptionInputs {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
    font-size: 0.8em;
    padding: 2%;
  }
  footer #subscriptionForm #subscribeButton {
    font-size: 0.8em;
    width: 80px;
    padding: 1%;
    cursor: pointer;
  }
  footer #socialLinksAndCopyright {
    row-gap: 20px;
    font-size: 0.8em;
    padding: 0%;
  }
  footer #socialLinksAndCopyright #socialMedia img {
    width: 30px;
  }
}

#currentPage {
  background: #eeeeee;
}

#reservations {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 20px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  margin-top: 15vh;
  min-height: 90vh;
  padding: 0% 15%;
  color: #393e46;
}

#reservations h1 {
  font-family: "Lora", serif;
  text-align: center;
}

#reservations p {
  font-size: 0.8em;
  text-align: center;
}

#reservations #reservationForm {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 40px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  margin-top: 4vh;
  width: 100%;
}

#reservations #reservationForm article {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 100%;
}

#reservations #reservationForm article h5 {
  font-family: "Lora", serif;
}

#reservations #reservationForm article .inputReservationForm {
  padding: 3% 2%;
  border: 0.1px solid #393e46;
  font-family: "Montserrat", sans-serif;
}

#reservations #reserveButton {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 40%;
  margin-top: 10%;
  padding: 3% 0%;
  background: #393e46;
  border-radius: 3px;
  color: white;
  font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
  #reservations {
    margin-top: 30vh;
  }
  #reservations h1 {
    font-size: 1.8em;
  }
  #reservations p {
    font-size: 0.9em;
  }
  #reservations #reserveButton {
    width: 30%;
  }
}

@media only screen and (min-width: 1000px) {
  #reservations {
    padding: 0%;
    width: 100%;
  }
  #reservations h1 {
    font-size: 2em;
  }
  #reservations p {
    font-size: 1em;
  }
  #reservations #reservationForm {
    margin-top: 10vh;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #reservations #reservationForm article {
    width: 80%;
  }
  #reservations #reservationForm article h5 {
    font-size: 0.9em;
  }
  #reservations #reservationForm article .inputReservationForm {
    padding: 2%;
  }
  #reservations #reserveButton {
    margin-top: 5%;
    width: 10%;
    font-size: 1em;
    padding: 1% 2%;
    cursor: pointer;
  }
}
/*# sourceMappingURL=reservations.css.map */