@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

section {
    @include gridCenterRowAndColumnGap(20px, 0px);
    margin-top: 15vh;
    min-height: 90vh;
    padding: 0% 15%;
    color: $neutralColorOne;

    h1 {
        font-family: $titleFont;
        text-align: center;
    }

    p {
        font-size: 0.8em;
        text-align: center;
    }

    article {
        @include gridCenterRowAndColumnGap(40px, 0px);
        margin-top: 4vh;
        width: 100%;

        .reservationFields {
            @include gridAndRowColumnGap(10px, 0px);
            width: 100%;

            label {
                font-family: $titleFont;
                font-weight: 600;
            }
        
            input, select {
                padding: 3% 2%;
                border: 0.1px solid $neutralColorOne;
                font-family: $bodyFont;
            }
        }
    }

    #reserveButton {
        justify-self: center;
        width: 40%;
        margin-top: 10%;
        padding: 3% 0%;
        background: $neutralColorOne;
        border-radius: 3px;
        color: $neutralColorTwo;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 600px) {
    
    section {
        margin-top: 30vh;

        h1 {
            font-size: 1.8em;
        }

        p {
            font-size: 0.9em;
        }

        #reserveButton {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    section {
        padding: 0%;

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 0.95em;
        }

        article {
            margin-top: 10vh;
            grid-template-columns: auto auto;
            column-gap: 30px;
            width: 90%;

            .reservationFields {
                width: 100%;

                label {
                    font-size: 0.9em;
                    font-weight: 600;
                }

                input, select {
                    padding: 2%;
                }
            }
        }

        #reserveButton {
            margin-top: 5%;
            width: 10%;
            font-size: 1em;
            padding: 1% 2%;
            cursor: pointer;

            &:hover {
                color: $neutralColorOne;
                border: 1px solid $neutralColorOne;
                background: $neutralColorTwo;
            }
        }
    }
}