#callButton {
    @include gridCenter();
    position: fixed;
    bottom: 1%;
    width: 65%;
    margin: 0% 18%;
    background: $neutralColorOne;
    border-radius: 20px;


    a {
        color: $primaryColor;
        text-decoration: none;
        padding: 4% 0%;
        width: 100%;
        text-align: center;
    }
    
    p {
        font-size: 0.8em;
    }
}