@import "_globals.scss";

#callButton {
    @include gridCenter();
    position: fixed;
    bottom: 2%;
    width: 100%;
    background: $secondaryColor;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);

    a {
        color: $neutralColorOne;
        text-decoration: none;
        padding: 5% 0%;
        width: 100%;
        text-align: center;
    }
    
    p {
        font-size: 0.85em;
    }
}