@import "_globals.scss";

#callButton {
    @include gridCenter();
    position: fixed;
    bottom: 2%;
    width: 100%;
    background: $neutralColorTwo;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
    z-index: 12;

    a {
        @include linksStyle($neutralColorOne, 0.85em);
        text-align: center;
        padding: 5% 0%;
        width: 100%;
    }

    #tabletDesktopPhoneNumber {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    #callButton {
        top: 12vh;
        height: 5vh;
        padding: 1% 0%;
        box-shadow: none;
        background: $neutralColorTwo;
        z-index: 9;

        a {
            display: none;
        }

        p {
            color: $neutralColorOne;
            letter-spacing: 2px;
        }

        #tabletDesktopPhoneNumber {
            display: block;
        }
    }
}

@media only screen and (min-width: 1000px) {
    #callButton {
        top: 13%;
        height: 3vh;
        padding: 1% 0%;

        p {
            font-size: 0.8em;
        }
    }
}