@import "_globals.scss";

footer {
    @include gridCenterRowAndColumnGap(0px, 0px);
    margin-top: 8vh;
    width: 100%;
    background: $secondaryColor;

    #subscriptionForm {
        @include gridAndRowColumnGap(15px, 0px);
        width: 80%;
        min-height: 30vh;
        padding: 10%;
        align-items: center;
        color: $neutralColorOne;

        h1 {
            font-size: 0.9em;
            font-weight: 600;
        }

        p {
            font-size: 0.7em;
        }

        #subscriptionInputs {
            @include gridAndRowColumnGap(15px, 0px);

            .inputSubscriptionForm {
                padding: 2%;
                font-size: 0.7em;
                font-family: $bodyFont;
                border: 0.5px solid $neutralColorOne;
            }
        }

        .subscribeRadioButtons {
            display: none;
        }

        #subscribeLabel {
            color: $neutralColorTwo;
            background: $neutralColorOne;
            border-radius: 3px;
            font-size: 0.7em;
            text-align: center;
            width: 80px;
            padding: 3%;
        }

        #subscribeMessageLabel, .subscribeRadioButtons:checked ~ #subscribeLabel {
            display: none;
            font-size: 0.75em;
        }

        .subscribeRadioButtons:checked ~ #subscribeMessageLabel {
            display: block;
        }
    }

    #socialLinksAndCopyright {
        @include gridCenterRowAndColumnGap(0px, 0px);
        grid-template-rows: auto auto auto;
        background: $primaryColor;
        color: $neutralColorOne;
        font-size: 0.7em;
        text-align: center;
        min-height: 20vh;
        width: 100%;
        padding: 3% 0%;

        #socialMedia {
            @include gridCenterRowAndColumnGap(0px, 0px);
            grid-template-columns: repeat(4, auto);
            width: 70%;

            img {
                width: 20px;
            }
            
            a {
                text-decoration: none;
            }
        }
    }

    #mobileFooterSpacer {
        width: 100%;
        padding: 6% 0%;
    }
}

@media only screen and (min-width: 600px) {
    
    footer {
        margin-top: 10vh;
        
        #subscriptionForm {
            row-gap: 30px;
            width: 85%;
            padding: 5% 0%;

            h1 {
                font-size: 1.2em;
            }
    
            p {
                font-size: 1em;
            }

            #subscriptionInputs {

                .inputSubscriptionForm {
                    font-size: 1em;
                    padding: 1%;
                }
            }

            #subscribeLabel {
                font-size: 1em;
                width: 20%;
                padding: 2%;
            }

            #subscribeMessageLabel, .subscribeRadioButtons:checked ~ #subscribeLabel {
                font-size: 0.9em;
                line-height: 25px;
            }
        }

        #socialLinksAndCopyright {
            row-gap: 20px;
            font-size: 0.8em;
            padding: 2% 0%;
            

            #socialMedia {
                padding: 5% 0%;

                img {
                    width: 25px;
                }
            }
        }

        #mobileFooterSpacer {
            display: none;
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    footer {
        margin-top: 15vh;

        #subscriptionForm {
            row-gap: 20px;
            width: 90%;

            h1 {
                font-size: 1em;
            }
    
            p {
                font-size: 0.9em;
            }

            #subscriptionInputs {
                grid-template-columns: auto auto;
                column-gap: 20px;

                .inputSubscriptionForm {
                    font-size: 0.8em;
                    padding: 2%;
                }
            }

            #subscribeLabel {
                font-size: 0.8em;
                width: 80px;
                padding: 1%;
                cursor: pointer;

                &:hover {
                    @include buttonHoverEffect();
                }
            }

            #subscribeMessageLabel, .subscribeRadioButtons:checked ~ #subscribeLabel {
                font-size: 0.9em;
            }
        }

        #socialLinksAndCopyright {
            row-gap: 20px;
            font-size: 0.8em;

            #socialMedia {
                width: 50%;

                img {
                    width: 30px;
                }
            }
        }
    }
}