@import "_globals.scss";

footer {
    @include gridCenter();

    #subscriptionForm {
        display: grid;
        align-items: center;
        background: $secondaryColor;
        padding: 10%;
        min-height: 40vh;
        color: $neutralColorOne;

        h1 {
            font-size: 1.0em;
        }

        p {
            font-size: 0.8em;
        }

        #firstName, #email {
            padding: 2% 3%;
            font-family: $bodyFont;
            border: 1px solid $neutralColorOne;
        }

        #subscribeButton {
            font-size: 0.9em;
            background: $neutralColorOne;
            color: $neutralColorTwo;
            width: 40%;
            padding: 3% 0%;
            text-align: center;
            font-weight: bold;
        }
    }

    #socialLinksAndCopyright {
        @include gridCenter();
        grid-template-rows: auto auto auto;
        background: $primaryColor;
        color: $neutralColorOne;
        font-size: 0.8em;
        text-align: center;
        min-height: 20vh;
        width: 100%;
        padding: 3% 0%;

        #socialMedia {
            @include gridCenter();
            grid-template-columns: repeat(4, auto);
            width: 70%;
            
            a {
                text-decoration: none;
            }
        }
    }

    #mobileFooterSpacer {
        width: 100%;
        padding: 6% 0%;
    }
}