@import "_globals.scss";

footer {
    @include gridCenter();
    margin-top: 8vh;
    width: 100%;

    #subscriptionForm {
        display: grid;
        align-items: center;
        background: $secondaryColor;
        padding: 10%;
        min-height: 40vh;
        width: 80%;
        color: $neutralColorOne;

        h1 {
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }

        .inputSubscriptionForm {
            padding: 3%;
            font-family: $bodyFont;
            border: 0.5px solid $neutralColorOne;
        }

        #subscribeButton {
            font-size: 0.9em;
            background: $neutralColorOne;
            border-radius: 3px;
            color: $neutralColorTwo;
            width: 40%;
            padding: 3% 0%;
            text-align: center;
        }
    }

    #socialLinksAndCopyright {
        @include gridCenter();
        grid-template-rows: auto auto auto;
        background: $primaryColor;
        color: $neutralColorOne;
        font-size: 0.8em;
        text-align: center;
        min-height: 20vh;
        width: 100%;
        padding: 3% 0%;

        #socialMedia {
            @include gridCenter();
            grid-template-columns: repeat(4, auto);
            width: 70%;
            
            a {
                text-decoration: none;
            }
        }
    }

    #mobileFooterSpacer {
        width: 100%;
        padding: 6% 0%;
    }
}

@media only screen and (min-width: 600px) {
    footer {
        margin-top: 10vh;
        
        #subscriptionForm {
            row-gap: 40px;

            h1 {
                font-size: 1.8em;
            }
    
            p {
                font-size: 1.4em;
            }

            .inputSubscriptionForm {
                font-size: 1.2em;
            }

            #subscribeButton {
                font-size: 1.3em;
                width: 30%;
            }
        }

        #socialLinksAndCopyright {
            font-size: 1.1em;
            

            #socialMedia {
                padding: 4% 0%;
                
                img {
                    width: 45px;
                }
            }
        }

        #mobileFooterSpacer {
            display: none;
        }
    }
}