// MIXINS
@mixin gridCenter() {
    display: grid;
    place-items: center;
}

@mixin animatedNavBars ($degree) {
    transform: rotate($degree);
    transition: all 0.4s ease-in-out;
}

// VARIABLES
$primaryColor: #202C39;
$secondaryColor: #283845;
$accentColor: #f2d492;
$neutralColorOne: white;
$neutralColorTwo: black;

$titleFont: "Lora", serif;
$bodyFont: "Montserrat", sans-serif;

// ALIGNMENT
* {
    margin: 0;
    padding: 0;
}