// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap');

// VARIABLES
$primaryColor: #f7f7f7;
$secondaryColor: #eeeeee;
$neutralColorOne: #393e46;
$neutralColorTwo: white;
$titleFont: "Lora", serif;
$bodyFont: "Montserrat", sans-serif;

// MIXINS
@mixin gridCenter() {
    display: grid;
    place-items: center;
}

@mixin linksStyle ($fontColor, $fontSize) {
    text-decoration: none;
    color: $fontColor;
    font-size: $fontSize;
}

// ALIGNMENT & OTHER SETTINGS
* {
    margin: 0;
    padding: 0;
}

body {
    background: $primaryColor;
    font-family: $bodyFont;
    max-width: 100vw;
}