// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

// MIXINS
@mixin gridCenter() {
    display: grid;
    place-items: center;
}

@mixin animatedNavBars ($degree) {
    transform: rotate($degree);
    transition: all 0.4s ease-in-out;
}

// ANIMATIONS
@keyframes restaurantSlideshow {
    25% { background: url(/images/restaurant/restaurantImage2.jpg) }
    50% { background: url(/images/restaurant/restaurantImage3.jpg) }
    75% { background: url(/images/restaurant/restaurantImage4.jpg) }
    100% { background: url(/images/restaurant/restaurantImage5.jpg) }
}

// VARIABLES
// $primaryColor: #202C39;
// $secondaryColor: #283845;
// $accentColor: #f2d492;
// $neutralColorOne: white;
// $neutralColorTwo: black;

$primaryColor: white;
$secondaryColor: whitesmoke;
$accentColor: whitesmoke;
$neutralColorOne: black;
$neutralColorTwo: white;

$titleFont: "Lora", serif;
$bodyFont: "Montserrat", sans-serif;

// ALIGNMENT
* {
    margin: 0;
    padding: 0;
}