@import "_globals.scss";

header {
    @include gridCenter();
    grid-template-columns: 2fr 4fr 2fr;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    padding: 3% 0%;
    background: $primaryColor;

    >a {
        text-decoration: none;

        .logo {
            @include gridCenter();
            background: $neutralColorOne;
            border-radius: 100%;
        }
    
        #logoOuterCircle {
            width: 38px;
            height: 38px;
        }
    
        #logoInnerCircle {
            width: 28px;
            height: 28px;
            border: 1.5px solid $primaryColor;
            color: $primaryColor;
            font-family: $titleFont;
            font-weight: bold;
            font-size: 0.85em;
        }
    }

    .mobileHamburgerMenu {

        #mobileNavCheckbox {
            position: absolute;
            width: 28px;
            height: 28px;
            opacity: 0;
            z-index: 5;
        }

        #mobileNavCheckbox:checked ~ .navPages {
            top: 10vh;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarOne {
            transform-origin: top right;
            @include animatedNavBars (-41deg);
        }

        #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarTwo {
            background: transparent;
        }

        #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarThree {
            transform-origin: bottom right;
            @include animatedNavBars (41deg);
        }

        .mobileHamburgerContainer {
            @include gridCenter();
            position: relative;
            width: 28px;
            height: 28px;
            z-index: 4;

            .navBars {
                width: 30px;
                height: 3px;
                background: $neutralColorOne;
                border-radius: 10px;
                @include animatedNavBars (0deg);
            }
        }

        .navPages {
            @include gridCenter();
            position: absolute;
            top: -30vh;
            left: 0;
            width: 100%;
            min-height: 20vh;
            background: $primaryColor;
            opacity: 0;
            z-index: 2;
            transition: all 0.5s ease-in-out;

            a {
                width: 100%;
                padding: 5% 0%;
                text-decoration: none;
                text-align: center;
                color: $neutralColorOne;
                font-weight: bold;
            }
        }
    }
        
}