@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

section {
    @include gridAndRowColumnGap(30px, 0px);
    margin-top: 15vh;
    min-height: 90vh;
    padding: 0% 10%;
    color: $neutralColorOne;

    >h1 {
        font-family: $titleFont;
        text-align: center;
    }

    #contactPageSections {
        @include gridAndRowColumnGap(25px, 0px);

        #infoAndHoursSections {
            @include gridAndRowColumnGap(25px, 0px);
        }

        .contactSection {
            @include gridAndRowColumnGap(15px, 0px);
            font-size: 0.8em;
    
            h3 {
                font-family: $titleFont;
            }
    
            a {
                text-decoration: none;
                color: $neutralColorOne;
                width: 70%;
            }

            .restaurantHours {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 70%;
            }

            #googleMaps {
                border: none;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    
    section {
        margin-top: 30vh;
        row-gap: 45px;

        >h1 {
            font-size: 1.8em;
        }

        #contactPageSections {

            .contactSection {
                font-size: 0.9em;
                row-gap: 30px;
            }

            #googleMaps {
                height: 50vh;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    section {
        
        >h1 {
            font-size: 2em;
        }

        #contactPageSections {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: auto auto;

            .lineDividers {
                display: none;
            }

            #infoAndHoursSections {
                row-gap: 50px;
            }

            .contactSection {
                font-size: 1em;
            }

            #googleMaps {
                height: 70vh;
            }
        }
    }
}