@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

#currentPage {
    background: $secondaryColor;
}

#menuNav {
    @include gridCenter();
    row-gap: 20px;
    margin-top: 15vh;

    >h1 {
        font-family: $titleFont;
        color: $neutralColorOne;
    }

    .menuRadioButtons {
        position: absolute;
        top: 22%;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: 1;
    }

    #categoryOne {
        left: 12%;
    }

    #categoryTwo {
        left: 28%;
    }

    #categoryThree {
        left: 50%;
    }

    #categoryFour {
        left: 74%;
    }

    #categoryOne:checked ~ #pizzaMenu, #categoryTwo:checked ~ #pastaMenu, #categoryThree:checked ~ #appetizersMenu, #categoryFour:checked ~ #drinksMenu {
        display: grid;
    }

    #categoryOne:checked ~ #navMenuPages #pizza, #categoryTwo:checked ~ #navMenuPages #pasta, #categoryThree:checked ~ #navMenuPages #appetizers, #categoryFour:checked ~ #navMenuPages #drinks{
        font-weight: bold;
    }

    #navMenuPages {
        position: relative;
        z-index: -1;
        @include gridCenter();
        grid-template-columns: auto auto auto auto;
        width: 80%;
        border-radius: 5px;
        text-align: center;
        color: $neutralColorOne;

        p {
            font-size: 0.9em;
        }
    }

    .menu {
        @include gridCenter();
        row-gap: 20px;
        min-height: 90vh;
        padding: 0% 10%;
        color: $neutralColorOne;
        display: none;
    
        h1 {
            font-family: $titleFont;
        }
    
        #salePoster {
            width: 88%;
            padding: 6% 7%;
            background: $neutralColorOne;
            border-radius: 3px;
            color: $neutralColorTwo;
        
            >h1 {
                font-size: 0.9em;
                text-align: center;
                letter-spacing: 1px;
                line-height: 30px;
            }
        }
    
        .itemCard {
            display: grid;
            align-items: center;
            row-gap: 14px;
            width: 85%;
            padding: 8%;
            background: $secondaryColor;
            border-radius: 3px;
            box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
    
            &:active {
                box-shadow: none;
            }
    
            >h1 {
                font-size: 0.9em;
            }
            
            p {
                font-size: 0.68em;
            }
    
            &:hover .sidePanel {
                transform: translateX(0%);
                transition: all 0.5s ease-in-out;
            }
    
            .sidePanel {
                @include gridCenter();
                position: fixed;
                top: 0;
                right: 0;
                width: 55%;
                height: 78%;
                padding: 10%;
                background: $secondaryColor;
                text-align: center;

                transform: translateX(101%);
                transition: all 0.5s ease-in-out;
    
                p {
                    font-size: 0.7em;
                }
    
                .pizzaPrice {
                    @include gridCenter();
                    grid-template-columns: auto auto;
                    width: 70%;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
    
                    .pizzaSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                        padding: 10%;
                        border-radius: 3px;
                        font-weight: normal;
                    }
                }
    
                .generalItemPrice {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
    }

    #drinksMenu {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    
    #menuNav {
        margin-top: 25vh;

        .menu {
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .itemCard {
                row-gap: 5px;
                width: 60%;
                height: 80%;
            }
        }
    }
}