@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

#currentPage {
    background: $secondaryColor;
}

#menuNav {
    @include gridCenter();
    row-gap: 20px;
    margin-top: 15vh;

    >h1 {
        font-family: $titleFont;
        color: $neutralColorOne;
    }

    .menuRadioButtons {
        position: absolute;
        top: 22%;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: 1;
        display: none;
    }

    #categoryOne:checked ~ #pizzaMenu, #categoryTwo:checked ~ #pastaMenu, #categoryThree:checked ~ #appetizersMenu, #categoryFour:checked ~ #drinksMenu {
        display: grid;
    }

    #categoryOne:checked ~ #navMenuPages #pizza, #categoryTwo:checked ~ #navMenuPages #pasta, #categoryThree:checked ~ #navMenuPages #appetizers, #categoryFour:checked ~ #navMenuPages #drinks{
        font-weight: bold;
    }

    #navMenuPages {
        position: relative;
        z-index: 1;
        @include gridCenter();
        grid-template-columns: auto auto auto auto;
        width: 80%;
        margin-top: 2vh;
        border-radius: 5px;
        text-align: center;
        color: $neutralColorOne;

        label {
            font-size: 0.9em;
        }
    }

    #drinksMenu {
        width: 80%;
    }

    .menu {
        @include gridCenter();
        row-gap: 20px;
        min-height: 90vh;
        margin-top: 2vh;
        width: 100%;
        // padding: 0% 10%;
        color: $neutralColorOne;
        display: none;
    
        h1 {
            font-family: $titleFont;
        }
    
        #salePoster {
            width: 70%;
            padding: 6% 7%;
            background: $neutralColorOne;
            border-radius: 3px;
            color: $neutralColorTwo;
        
            >h1 {
                font-size: 0.9em;
                text-align: center;
                letter-spacing: 1px;
                line-height: 30px;
            }
        }

        #pizzaItemCards {
            @include gridCenter();
            row-gap: 25px;

            img {
                width: 60%;
            }
        }

        #drinksMenu {

            article {
                width: 100%;
            }
        }
    
        .itemCard {
            display: grid;
            align-items: center;
            row-gap: 14px;
            width: 67%;
            padding: 8%;
            background: $secondaryColor;
            border-radius: 3px;
            box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
    
            &:active {
                box-shadow: none;
            }
    
            >h1 {
                font-size: 0.9em;
                font-weight: bold;
            }
            
            p {
                font-size: 0.7em;
            }

            .itemDescription + p {
                font-size: 0.8em;
                font-weight: 600;
            }
    
            &:hover .sidePanel {
                transform: translateX(0%);
                transition: all 0.5s ease-in-out;
            }
    
            .sidePanel {
                @include gridCenter();
                position: fixed;
                top: 0;
                right: 0;
                width: 55%;
                height: 78%;
                padding: 10%;
                background: $secondaryColor;
                text-align: center;
                z-index: 11;

                transform: translateX(101%);
                transition: all 0.5s ease-in-out;

                img {
                    width: 70%;
                }
    
                p {
                    font-size: 0.7em;
                }
    
                .pizzaPrice {
                    @include gridCenter();
                    grid-template-columns: auto auto;
                    width: 70%;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
    
                    .pizzaSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                        padding: 10%;
                        border-radius: 3px;
                        font-weight: normal;
                    }
                }
    
                .generalItemPrice {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }

            .desktopSizesAndPrice {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    
    #menuNav {
        margin-top: 30vh;
        row-gap: 30px;

        .menu {
            margin-top: 2vh;
            row-gap: 40px;

            #salePoster {
                width: 68%;
                font-size: 1.1em;
            }

            #pizzaItemCards {
                width: 90%;
                // grid-template-columns: 1fr 1fr;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                // grid-template-rows: repeat(4, 1fr);
            }

            .itemCard {
                place-items: center;
                text-align: center;
                row-gap: 30px;
                width: 75%;
                padding: 10% 5%;
                
                p {
                    font-size: 0.6em;
                    padding: 0%;
                }

                .sidePanel {
                    // height: 100%;
                    height: 85%;
                    row-gap: 20px;

                    >h1 {
                        font-size: 1.2em;
                    }

                    p {
                        font-size: 0.8em;
                        padding: 0% 5%;
                    }
                }
            }
        }

        #pastaMenu, #appetizersMenu, #drinksMenu {
            width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            // grid-template-columns: 1fr 1fr;
            // grid-template-rows: repeat(4, 1fr);
        }
    }
}

@media only screen and (min-width: 1000px) {
    #menuNav {

        #navMenuPages {

            label {
                cursor: pointer;
            }
        }
        
        .menu {

            #salePoster {
                padding: 3% 0%;
                width: 80%;
            }

            // #pizzaItemCards {
            //     grid-template-columns: 1fr 1fr 1fr 1fr;
            //     grid-template-rows: 1fr 1fr;
            // }

            .itemCard {
                width: 60%;
                box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
                // row-gap: 0px;
                
                .itemDescription + p, .sidePanel {
                    display: none;
                }

                .desktopSizesAndPrice {
                    display: grid;
                    row-gap: 20px;

                    input {
                        display: none;
                    }

                    .pizzaPrice {
                        @include gridCenter();
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 10px;

                        .price {
                            @include gridCenter();
                            background: $neutralColorOne;
                            color: $neutralColorTwo;
                            font-weight: 500;
                            font-size: 0.8em;
                            width: 25px;
                            height: 25px;
                            padding: 10%;
                            border-radius: 100%;
                            text-align: center;
                            cursor: pointer;
                        }
                    }

                    #pizzaSmall:checked ~ .priceForSmall, #pizzaMedium:checked ~ .priceForMedium, #pizzaLarge:checked ~ .priceForLarge {
                        display: block;
                        opacity: 1;
                    }

                    p {
                        font-weight: bold;
                        font-size: 1em;
                        opacity: 0;
                        display: none;
                    }
                }

                &:active {
                    box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
                }
            }
        }
    }
}