@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

#currentPage {
    background: $secondaryColor;
}

#menuNav {
    @include gridCenter();
    row-gap: 20px;
    margin-top: 15vh;

    >h1 {
        font-family: $titleFont;
        color: $neutralColorOne;
    }

    .menuRadioButtons {
        position: absolute;
        top: 22%;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: 1;
        display: none;
    }

    #categoryOne:checked ~ #pizzaMenu, #categoryTwo:checked ~ #pastaMenu, #categoryThree:checked ~ #appetizersMenu, #categoryFour:checked ~ #drinksMenu {
        display: grid;
    }

    #categoryOne:checked ~ #navMenuPages #pizza, #categoryTwo:checked ~ #navMenuPages #pasta, #categoryThree:checked ~ #navMenuPages #appetizers, #categoryFour:checked ~ #navMenuPages #drinks{
        font-weight: bold;
    }

    #navMenuPages {
        position: relative;
        z-index: 1;
        @include gridCenter();
        grid-template-columns: auto auto auto auto;
        width: 80%;
        margin-top: 2vh;
        border-radius: 5px;
        text-align: center;
        color: $neutralColorOne;

        label {
            font-size: 0.9em;
        }
    }

    #drinksMenu {
        width: 80%;
    }

    .menuContainer {
        @include gridCenter();
        row-gap: 20px;
        min-height: 90vh;
        margin-top: 2vh;
        width: 100%;
        // padding: 0% 10%;
        color: $neutralColorOne;
        display: none;
    
        h1 {
            font-family: $titleFont;
        }
    
        #salePoster {
            width: 70%;
            padding: 6% 7%;
            background: $neutralColorOne;
            border-radius: 3px;
            color: $neutralColorTwo;
        
            >h1 {
                font-size: 0.9em;
                text-align: center;
                letter-spacing: 1px;
                line-height: 30px;
            }
        }

        #pizzaItemCards {
            @include gridCenter();
            row-gap: 25px;

            img {
                width: 60%;
            }
        }

        #drinksMenu {

            article {
                width: 100%;
            }
        }
    
        .itemCard {
            display: grid;
            align-items: center;
            row-gap: 14px;
            width: 67%;
            padding: 8%;
            background: $secondaryColor;
            border-radius: 3px;
            box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
    
            &:active {
                box-shadow: none;
            }
    
            >h1 {
                font-size: 0.9em;
                font-weight: bold;
            }
            
            p {
                font-size: 0.7em;
            }

            .itemDescription + p {
                font-size: 0.8em;
                font-weight: 600;
            }
    
            &:hover .sidePanel {
                transform: translateX(0%);
                transition: all 0.5s ease-in-out;
            }
    
            .sidePanel {
                @include gridCenter();
                position: fixed;
                top: 0;
                right: 0;
                width: 55%;
                height: 78%;
                padding: 10%;
                background: $secondaryColor;
                text-align: center;
                z-index: 11;

                transform: translateX(101%);
                transition: all 0.5s ease-in-out;

                img {
                    width: 70%;
                }
    
                p {
                    font-size: 0.7em;
                }
    
                .pizzaPrice {
                    @include gridCenter();
                    grid-template-columns: auto auto;
                    width: 70%;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
    
                    .pizzaSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                        padding: 10%;
                        border-radius: 3px;
                        font-weight: normal;
                    }
                }
    
                .generalItemPrice {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }

            .desktopSizesAndPrice {
                display: none;
            }

            .menuItemHover {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    
    #menuNav {
        margin-top: 30vh;
        row-gap: 40px;

        .menuContainer {
            margin-top: 2vh;
            row-gap: 40px;

            #salePoster {
                width: 68%;
                font-size: 1.1em;
            }

            #pizzaItemCards {
                width: 90%;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }

            .itemCard {
                place-items: center;
                text-align: center;
                row-gap: 30px;
                width: 75%;
                padding: 10% 5%;
                
                p {
                    font-size: 0.6em;
                    padding: 0% 5%;
                }

                .sidePanel {
                    // height: 100%;
                    height: 85%;
                    row-gap: 20px;

                    >h1 {
                        font-size: 1.2em;
                    }

                    p {
                        font-size: 0.8em;
                        padding: 0% 5%;
                    }
                }
            }
        }

        #pastaMenu, #appetizersMenu, #drinksMenu {
            width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}

@media only screen and (min-width: 1000px) {
    #menuNav {
        
        >h1 {
            font-size: 2em;
        }

        #navMenuPages {
            font-size: 1.2em;

            label {
                cursor: pointer;
            }
        }
        
        .menuContainer {

            #salePoster {
                padding: 3% 0%;
                width: 80%;
                font-size: 1.4em;

                h1 {
                    line-height: 50px;
                }
            }

            .itemCard {
                position: relative;
                width: 60%;
                box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
                row-gap: 40px;
                
                .itemDescription + p, .sidePanel {
                    display: none;
                }

                .desktopSizesAndPrice {
                    display: grid;
                    width: 80%;
                    row-gap: 30px;

                    input {
                        display: none;
                    }

                    .pizzaPrice {
                        @include gridCenter();
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 20px;

                        .desktopPizzaSize {
                            @include gridCenter();
                            background: $neutralColorTwo;
                            color: $neutralColorOne;
                            font-weight: 500;
                            font-size: 0.9em;
                            width: 30px;
                            height: 30px;
                            padding: 10%;
                            border-radius: 100%;
                            text-align: center;
                            cursor: pointer;
                        }
                    }

                    // BBQ Chicken
                    #pizzaSmallBBQChicken:checked ~ .priceFor10inches, #pizzaMediumBBQChicken:checked ~ .priceFor12inches, #pizzaLargeBBQChicken:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallBBQChicken:checked ~ .pizzaPrice #smallSize, #pizzaMediumBBQChicken:checked ~ .pizzaPrice #mediumSize, #pizzaLargeBBQChicken:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Chicken Bruchetta
                    #pizzaSmallChickenBru:checked ~ .priceFor10inches, #pizzaMediumChickenBru:checked ~ .priceFor12inches, #pizzaLargeChickenBru:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallChickenBru:checked ~ .pizzaPrice #smallSize, #pizzaMediumChickenBru:checked ~ .pizzaPrice #mediumSize, #pizzaLargeChickenBru:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Deluxe
                    #pizzaSmallDeluxe:checked ~ .priceFor10inches, #pizzaMediumDeluxe:checked ~ .priceFor12inches, #pizzaLargeDeluxe:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallDeluxe:checked ~ .pizzaPrice #smallSize, #pizzaMediumDeluxe:checked ~ .pizzaPrice #mediumSize, #pizzaLargeDeluxe:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Hawaiian Pepperoni
                    #pizzaSmallHawaiianPep:checked ~ .priceFor10inches, #pizzaMediumHawaiianPep:checked ~ .priceFor12inches, #pizzaLargeHawaiianPep:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallHawaiianPep:checked ~ .pizzaPrice #smallSize, #pizzaMediumHawaiianPep:checked ~ .pizzaPrice #mediumSize, #pizzaLargeHawaiianPep:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Italian Sausage
                    #pizzaSmallItalianSausage:checked ~ .priceFor10inches, #pizzaMediumItalianSausage:checked ~ .priceFor12inches, #pizzaLargeItalianSausage:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallItalianSausage:checked ~ .pizzaPrice #smallSize, #pizzaMediumItalianSausage:checked ~ .pizzaPrice #mediumSize, #pizzaLargeItalianSausage:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Magherita
                    #pizzaSmallMargherita:checked ~ .priceFor10inches, #pizzaMediumMargherita:checked ~ .priceFor12inches, #pizzaLargeMargherita:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallMargherita:checked ~ .pizzaPrice #smallSize, #pizzaMediumMargherita:checked ~ .pizzaPrice #mediumSize, #pizzaLargeMargherita:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Meat Supreme
                    #pizzaSmallMeatSupreme:checked ~ .priceFor10inches, #pizzaMediumMeatSupreme:checked ~ .priceFor12inches, #pizzaLargeMeatSupreme:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallMeatSupreme:checked ~ .pizzaPrice #smallSize, #pizzaMediumMeatSupreme:checked ~ .pizzaPrice #mediumSize, #pizzaLargeMeatSupreme:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    // Veggie Lovers
                    #pizzaSmallVeggieLovers:checked ~ .priceFor10inches, #pizzaMediumVeggieLovers:checked ~ .priceFor12inches, #pizzaLargeVeggieLovers:checked ~ .priceFor14inches {
                        display: block;
                    }

                    #pizzaSmallVeggieLovers:checked ~ .pizzaPrice #smallSize, #pizzaMediumVeggieLovers:checked ~ .pizzaPrice #mediumSize, #pizzaLargeVeggieLovers:checked ~ .pizzaPrice #largeSize {
                        background: $neutralColorOne;
                        color: $neutralColorTwo;
                    }

                    p {
                        font-weight: bold;
                        font-size: 1em;
                        display: none;
                    }
                }

                .menuItemHover {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: -5%;
                    opacity: 0;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        opacity: 1;
                        top: 5%;
                        transition: all 0.4s ease-in-out;
                    }
                }

                &:active {
                    box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
                }
            }
        }

        #pastaMenu, #appetizersMenu, #drinksMenu {

            .itemCard {
                row-gap: 50px;

                h1, p {
                    padding: 3%;
                }

                .itemDescription + p {
                    display: block;
                    font-size: 1em;
                    font-weight: bold;
                }
            }

            img {
                width: 70%;
                background: $secondaryColor;
            }
        }
    }
}