@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  padding: 2% 0%;
  background: #f7f7f7;
  z-index: 10;
}

header > a {
  text-decoration: none;
}

header > a .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  background: #393e46;
  border-radius: 100%;
}

header > a #logoOuterCircle {
  width: 38px;
  height: 38px;
}

header > a #logoInnerCircle {
  width: 28px;
  height: 28px;
  border: 1.5px solid #f7f7f7;
  color: #f7f7f7;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 0.85em;
}

header > a #okotoksPizzaName {
  display: none;
}

header #mobileHamburgerMenu #mobileNavCheckbox {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: 5;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileTabletNavPages {
  top: 95%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarOne {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarTwo {
  background: transparent;
}

header #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarThree {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 4;
}

header #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
  width: 30px;
  height: 3px;
  background: #393e46;
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #mobileHamburgerMenu #mobileTabletNavPages {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: #f7f7f7;
  z-index: 10;
  top: -60vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #mobileHamburgerMenu #mobileTabletNavPages a {
  text-decoration: none;
  color: #393e46;
  font-size: 0.8em;
  width: 100%;
  padding: 5% 0%;
  text-align: center;
}

header #mobileHamburgerMenu #mobileTabletNavPages #currentPage {
  background: #eeeeee;
}

header #desktopNavPages {
  display: none;
}

@media only screen and (min-width: 600px) {
  header {
    min-height: 7vh;
    background: #f7f7f7;
  }
  header > a #logoOuterCircle {
    width: 50px;
    height: 50px;
  }
  header > a #logoInnerCircle {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
  }
  header #mobileHamburgerMenu #mobileNavCheckbox {
    width: 30px;
    height: 30px;
  }
  header #mobileHamburgerMenu #mobileHamburgerContainer {
    width: 30px;
    height: 30px;
  }
  header #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
    width: 32px;
    height: 4px;
  }
  header #mobileHamburgerMenu #mobileTabletNavPages {
    top: -200vh;
  }
  header #mobileHamburgerMenu #mobileTabletNavPages a {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  header > a {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  header > a #logoOuterCircle {
    width: 45px;
    height: 45px;
  }
  header > a #logoInnerCircle {
    width: 35px;
    height: 35px;
    font-size: 1.1em;
  }
  header > a #okotoksPizzaName {
    display: block;
    text-decoration: none;
    color: #393e46;
    font-size: 1.3em;
    font-family: "Lora", serif;
    font-weight: 600;
  }
  header #mobileHamburgerMenu {
    display: none;
  }
  header #desktopNavPages {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
  }
  header #desktopNavPages a {
    text-decoration: none;
    color: #393e46;
    font-size: 0.9em;
  }
  header #desktopNavPages a:hover {
    color: rgba(57, 62, 70, 0.5);
  }
  header #desktopNavPages #currentDesktopPage {
    font-weight: bold;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

#callButton {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  position: fixed;
  bottom: 2%;
  width: 100%;
  background: white;
  -webkit-box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
          box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
  z-index: 12;
}

#callButton a {
  text-decoration: none;
  color: #393e46;
  font-size: 0.85em;
  text-align: center;
  padding: 5% 0%;
  width: 100%;
}

#callButton #tabletDesktopPhoneNumber {
  display: none;
}

@media only screen and (min-width: 600px) {
  #callButton {
    top: 12vh;
    height: 5vh;
    padding: 1% 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: white;
    z-index: 9;
  }
  #callButton a {
    display: none;
  }
  #callButton p {
    color: #393e46;
    letter-spacing: 2px;
  }
  #callButton #tabletDesktopPhoneNumber {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #callButton {
    top: 14vh;
    height: 4vh;
    padding: 1% 0%;
  }
  #callButton p {
    font-size: 0.9em;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  margin-top: 8vh;
  width: 100%;
  background: #eeeeee;
}

footer #subscriptionForm {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 80%;
  min-height: 30vh;
  padding: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393e46;
}

footer #subscriptionForm h1 {
  font-size: 0.9em;
  font-weight: 600;
}

footer #subscriptionForm p {
  font-size: 0.7em;
}

footer #subscriptionForm #subscriptionInputs {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
  padding: 2%;
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid #393e46;
}

footer #subscriptionForm .subscribeRadioButtons {
  display: none;
}

footer #subscriptionForm #subscribeLabel {
  color: white;
  background: #393e46;
  border-radius: 3px;
  font-size: 0.7em;
  text-align: center;
  width: 80px;
  padding: 3%;
}

footer #subscriptionForm #messageLabel, footer #subscriptionForm .subscribeRadioButtons:checked ~ #subscribeLabel {
  display: none;
  font-size: 0.75em;
}

footer #subscriptionForm .subscribeRadioButtons:checked ~ #messageLabel {
  display: block;
}

footer #socialLinksAndCopyright {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background: #f7f7f7;
  color: #393e46;
  font-size: 0.7em;
  text-align: center;
  min-height: 20vh;
  width: 100%;
  padding: 3% 0%;
}

footer #socialLinksAndCopyright #socialMedia {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 70%;
}

footer #socialLinksAndCopyright #socialMedia img {
  width: 20px;
}

footer #socialLinksAndCopyright #socialMedia a {
  text-decoration: none;
}

footer #mobileFooterSpacer {
  width: 100%;
  padding: 6% 0%;
}

@media only screen and (min-width: 600px) {
  footer {
    margin-top: 10vh;
  }
  footer #subscriptionForm {
    row-gap: 30px;
    width: 85%;
    padding: 5% 0%;
  }
  footer #subscriptionForm h1 {
    font-size: 1.2em;
  }
  footer #subscriptionForm p {
    font-size: 1em;
  }
  footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
    font-size: 1em;
    padding: 1%;
  }
  footer #subscriptionForm #subscribeButton {
    font-size: 1em;
    width: 20%;
    padding: 2%;
  }
  footer #socialLinksAndCopyright {
    row-gap: 20px;
    font-size: 0.8em;
    padding: 2% 0%;
  }
  footer #socialLinksAndCopyright #socialMedia {
    padding: 5% 0%;
  }
  footer #socialLinksAndCopyright #socialMedia img {
    width: 25px;
  }
  footer #mobileFooterSpacer {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  footer {
    margin-top: 15vh;
  }
  footer #subscriptionForm {
    row-gap: 20px;
  }
  footer #subscriptionForm h1 {
    font-size: 1em;
  }
  footer #subscriptionForm p {
    font-size: 0.8em;
  }
  footer #subscriptionForm #subscriptionInputs {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  footer #subscriptionForm #subscriptionInputs .inputSubscriptionForm {
    font-size: 0.8em;
    padding: 2%;
  }
  footer #subscriptionForm #subscribeButton {
    font-size: 0.8em;
    width: 80px;
    padding: 1%;
    cursor: pointer;
  }
  footer #subscriptionForm #subscribeButton:hover {
    color: #393e46;
    border: 1px solid #393e46;
    background: white;
  }
  footer #socialLinksAndCopyright {
    row-gap: 20px;
    font-size: 0.8em;
    padding: 0%;
  }
  footer #socialLinksAndCopyright #socialMedia {
    width: 50%;
  }
  footer #socialLinksAndCopyright #socialMedia img {
    width: 30px;
  }
}

#menuPage {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 20px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  margin-top: 15vh;
}

#menuPage > h1 {
  font-family: "Lora", serif;
  color: #393e46;
}

#menuPage .menuRadioButtons {
  display: none;
}

#menuPage #categoryOne:checked ~ #pizzaMenu, #menuPage #categoryTwo:checked ~ #pastaMenu, #menuPage #categoryThree:checked ~ #appetizersMenu, #menuPage #categoryFour:checked ~ #drinksMenu {
  display: -ms-grid;
  display: grid;
}

#menuPage #categoryOne:checked ~ #navMenuCategories #pizza, #menuPage #categoryTwo:checked ~ #navMenuCategories #pasta, #menuPage #categoryThree:checked ~ #navMenuCategories #appetizers, #menuPage #categoryFour:checked ~ #navMenuCategories #drinks {
  font-weight: bold;
}

#menuPage #navMenuCategories {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  position: relative;
  z-index: 1;
  width: 80%;
  margin-top: 2vh;
  border-radius: 5px;
  text-align: center;
  color: #393e46;
  font-size: 0.8em;
}

#menuPage .menuContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 20px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  min-height: 90vh;
  margin-top: 2vh;
  width: 75%;
  color: #393e46;
  display: none;
}

#menuPage .menuContainer h1 {
  font-family: "Lora", serif;
}

#menuPage .menuContainer #salePoster {
  width: 100%;
  padding: 5% 0%;
  background: #393e46;
  border-radius: 3px;
  color: white;
}

#menuPage .menuContainer #salePoster > h1 {
  font-size: 0.85em;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}

#menuPage .menuContainer #pizzaItemCards {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 25px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

#menuPage .menuContainer #pizzaItemCards img {
  width: 50%;
}

#menuPage .menuContainer .itemCard {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8% 0%;
  background: #eeeeee;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
}

#menuPage .menuContainer .itemCard .mobileItemName + h1, #menuPage .menuContainer .itemCard .itemDescription + p {
  display: none;
}

#menuPage .menuContainer .itemCard > h1 {
  font-size: 0.75em;
  font-weight: bold;
  padding: 0% 6%;
}

#menuPage .menuContainer .itemCard p {
  font-size: 0.6em;
  padding-left: 6%;
  padding: 0% 6%;
}

#menuPage .menuContainer .itemCard:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#menuPage .menuContainer .itemCard:hover .sidePanel {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menuPage .menuContainer .itemCard .sidePanel {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  row-gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  height: 78vh;
  padding: 10% 0%;
  background: #eeeeee;
  text-align: center;
  z-index: 11;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menuPage .menuContainer .itemCard .sidePanel img {
  width: 50%;
}

#menuPage .menuContainer .itemCard .sidePanel p {
  font-size: 0.6em;
  padding: 0% 20%;
}

#menuPage .menuContainer .itemCard .sidePanel .pizzaPrice {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: 50%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Lora", serif;
}

#menuPage .menuContainer .itemCard .sidePanel .pizzaPrice .pizzaSize {
  color: #393e46;
  background: white;
  border-radius: 5px;
  padding: 10%;
  font-weight: 500;
}

#menuPage .menuContainer .itemCard .sidePanel .generalItemPrice {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Lora", serif;
}

#menuPage .menuContainer .itemCard .desktopSizesAndPrice, #menuPage .menuContainer .itemCard .menuItemHover {
  display: none;
}

@media only screen and (min-width: 600px) {
  #menuPage {
    margin-top: 30vh;
    row-gap: 30px;
  }
  #menuPage #navMenuCategories {
    font-size: 0.9em;
  }
  #menuPage .menuContainer {
    width: 80%;
    row-gap: 40px;
  }
  #menuPage .menuContainer #salePoster {
    font-size: 1.1em;
  }
  #menuPage .menuContainer #pizzaItemCards {
    width: 100%;
    row-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  #menuPage .menuContainer #pizzaItemCards img {
    width: 40%;
  }
  #menuPage .menuContainer .itemCard {
    place-items: center;
    text-align: center;
    row-gap: 30px;
    height: 100%;
    padding: 0%;
  }
  #menuPage .menuContainer .itemCard .mobileItemName + h1, #menuPage .menuContainer .itemCard .itemDescription + p {
    display: block;
  }
  #menuPage .menuContainer .itemCard .mobileItemName {
    display: none;
  }
  #menuPage .menuContainer .itemCard > h1 {
    font-size: 0.9em;
    padding-top: 8%;
  }
  #menuPage .menuContainer .itemCard .itemDescription {
    font-size: 0.65em;
    padding: 0% 10%;
  }
  #menuPage .menuContainer .itemCard .itemDescription + p {
    font-size: 0.9em;
    font-family: "Lora", serif;
    font-weight: bold;
    padding-bottom: 8%;
  }
  #menuPage .menuContainer .itemCard .sidePanel {
    height: 100vh;
    padding: 0%;
    width: 75vw;
  }
  #menuPage .menuContainer .itemCard .sidePanel > h1 {
    font-size: 1.3em;
  }
  #menuPage .menuContainer .itemCard .sidePanel p {
    font-size: 0.8em;
  }
  #menuPage .menuContainer .itemCard .sidePanel p + p {
    font-size: 1em;
  }
  #menuPage .menuContainer .itemCard .sidePanel img {
    width: 45%;
  }
  #menuPage #pastaMenu, #menuPage #appetizersMenu, #menuPage #drinksMenu {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  #menuPage {
    row-gap: 50px;
  }
  #menuPage > h1 {
    font-size: 2em;
  }
  #menuPage #navMenuCategories {
    font-size: 1.2em;
  }
  #menuPage #navMenuCategories label {
    cursor: pointer;
  }
  #menuPage #navMenuCategories label:hover {
    color: rgba(57, 62, 70, 0.5);
  }
  #menuPage .menuContainer {
    width: 90%;
  }
  #menuPage .menuContainer #salePoster {
    padding: 3% 0%;
    font-size: 1.4em;
  }
  #menuPage .menuContainer #salePoster h1 {
    line-height: 50px;
  }
  #menuPage .menuContainer #pizzaItemCards .itemDescription + p, #menuPage .menuContainer #pizzaItemCards .sidePanel {
    display: none;
  }
  #menuPage .menuContainer #pizzaItemCards img {
    width: 65%;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice {
    display: -ms-grid;
    display: grid;
    row-gap: 40px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice input {
    display: none;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaPrice {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaPrice .desktopPizzaSize {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    background: white;
    color: #393e46;
    font-weight: 500;
    font-size: 0.9em;
    width: 30px;
    height: 30px;
    padding: 10%;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice p {
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 1.2em;
    display: none;
    padding-bottom: 0%;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaSmallInput:checked ~ .priceFor10inches, #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaMediumInput:checked ~ .priceFor12inches, #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaLargeInput:checked ~ .priceFor14inches {
    display: block;
  }
  #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaSmallInput:checked ~ .pizzaPrice #smallSize, #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaMediumInput:checked ~ .pizzaPrice #mediumSize, #menuPage .menuContainer #pizzaItemCards .desktopSizesAndPrice .pizzaLargeInput:checked ~ .pizzaPrice #largeSize {
    background: #393e46;
    color: white;
  }
  #menuPage .menuContainer .itemCard {
    position: relative;
    -webkit-box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
            box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
    row-gap: 40px;
  }
  #menuPage .menuContainer .itemCard > h1 {
    font-size: 1.1em;
    padding-top: 15%;
  }
  #menuPage .menuContainer .itemCard p {
    padding: 0%;
  }
  #menuPage .menuContainer .itemCard .itemDescription {
    padding: 0% 8%;
  }
  #menuPage .menuContainer .itemCard .itemDescription + p {
    font-size: 1.1em;
    padding-bottom: 0%;
  }
  #menuPage .menuContainer .itemCard .sidePanel {
    display: none;
  }
  #menuPage .menuContainer .itemCard .menuItemHover {
    display: block;
  }
  #menuPage .menuContainer .itemCard .menuItemHover #backgroundCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #eeeeee;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #menuPage .menuContainer .itemCard .menuItemHover img {
    position: absolute;
    top: 0;
    left: 16%;
    right: 16%;
    width: 70%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #menuPage .menuContainer .itemCard .menuItemHover:hover #backgroundCover {
    opacity: 1;
    top: 5%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #menuPage .menuContainer .itemCard .menuItemHover:hover img {
    opacity: 1;
    top: 6%;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  #menuPage .menuContainer .itemCard:active {
    -webkit-box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
            box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.3);
  }
  #menuPage #pastaMenu, #menuPage #appetizersMenu, #menuPage #drinksMenu {
    width: 90%;
  }
}
/*# sourceMappingURL=menu.css.map */