@import "../partials/header";
@import "../partials/callButton";

.banner {
    @include gridCenter();
    position: fixed;
    width: 100%;
    min-height: 5vh;
    text-align: center;
    z-index: -2;
}

#infoBanner {
    top: 12.2%;
    grid-template-columns: auto auto;
    background: $secondaryColor;

    p {
        margin: 5%;
        color: $neutralColorOne;
        font-size: 0.75em;
    }
}

#openTimes {
    top: 17.5%;
    grid-template-columns: auto auto auto;
    background: $neutralColorOne;

    p {
        margin: 5%;
        color: $secondaryColor;
        font-weight: bold;
        font-size: 0.6em;
    }
}

main {
    @include gridCenter();
    row-gap: 2%;
    position: relative;
    top: 28vh;
    min-height: 80vh;
    padding: 0% 5%;
    text-align: center;
    z-index: -5;

    h1 {
        color: $neutralColorOne;
        font-family: $titleFont;
        font-size: 1.1em;
    }

    p {
        padding: 0% 5%;
        color: $neutralColorOne;
        font-size: 0.8em;
    }

    .buttons {
        text-decoration: none;
        color: $primaryColor;
        font-size: 0.7em;
        font-weight: bold;
        padding: 4% 7%;
        background: $accentColor;
        border-radius: 20px;
    }
}