* {
  margin: 0;
  padding: 0;
}

body {
  background: #202C39;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  padding: 2% 0%;
  background: #202C39;
}

header > a {
  text-decoration: none;
}

header > a .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  border-radius: 100%;
}

header > a #logoOuterCircle {
  width: 38px;
  height: 38px;
}

header > a #logoInnerCircle {
  width: 28px;
  height: 28px;
  border: 1.5px solid #202C39;
  color: #202C39;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 0.85em;
}

header .mobileHamburgerMenu #mobileNavCheckbox {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: 5;
}

header .mobileHamburgerMenu #mobileNavCheckbox:checked ~ .navPages {
  top: 100%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .mobileHamburgerMenu #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarOne {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .mobileHamburgerMenu #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarTwo {
  background: transparent;
}

header .mobileHamburgerMenu #mobileNavCheckbox:checked ~ .mobileHamburgerContainer #mobileBarThree {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .mobileHamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 4;
}

header .mobileHamburgerMenu .mobileHamburgerContainer .navBars {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .mobileHamburgerMenu .navPages {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: -60vh;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: #202C39;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .mobileHamburgerMenu .navPages a {
  width: 100%;
  padding: 5% 0%;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

#callButton {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 2%;
  width: 100%;
  background: white;
}

#callButton a {
  color: #202C39;
  text-decoration: none;
  padding: 5% 0%;
  width: 100%;
  text-align: center;
}

#callButton p {
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer #subscriptionForm {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #283845;
  padding: 5%;
  min-height: 40vh;
  color: white;
}

footer #subscriptionForm h1 {
  font-size: 1.1em;
}

footer #subscriptionForm p {
  font-size: 0.9em;
}

footer #subscriptionForm #firstName, footer #subscriptionForm #email {
  padding: 2% 3%;
  font-family: "Montserrat", sans-serif;
  border: 1px solid white;
}

footer #subscriptionForm #subscribeButton {
  font-size: 0.9em;
  background: #f2d492;
  color: #202C39;
  width: 40%;
  padding: 3% 0%;
  text-align: center;
  font-weight: bold;
}

footer #socialLinksAndCopyright {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background: #202C39;
  color: white;
  font-size: 0.8em;
  text-align: center;
  min-height: 20vh;
  width: 100%;
  padding: 3% 0%;
}

footer #socialLinksAndCopyright #socialMedia {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 100%;
}

footer #socialLinksAndCopyright #socialMedia a {
  text-decoration: none;
}

footer #mobileFooterSpacer {
  width: 100%;
  padding: 6% 0%;
}

.banner {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  width: 100%;
  min-height: 5vh;
  text-align: center;
}

#infoBanner {
  top: 12.2%;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background: #283845;
}

#infoBanner p {
  margin: 5%;
  color: white;
  font-size: 0.75em;
}

#openTimes {
  top: 17.5%;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  background: white;
}

#openTimes p {
  margin: 5%;
  color: #283845;
  font-weight: bold;
  font-size: 0.6em;
}

main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 2%;
  position: relative;
  top: 28vh;
  min-height: 80vh;
  padding: 0% 5%;
  text-align: center;
  z-index: -1;
}

main h1 {
  color: white;
  font-size: 1.1em;
}

main p {
  padding: 0% 5%;
  color: white;
  font-size: 0.8em;
}

main .buttons {
  text-decoration: none;
  color: #202C39;
  font-size: 0.7em;
  font-weight: bold;
  padding: 4% 7%;
  background: #f2d492;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */