@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

#currentPage {
    background: $secondaryColor;
}

section {
    @include gridCenter();
    row-gap: 30px;
    margin-top: 15vh;
    min-height: 90vh;
    padding: 0% 10%;
    color: $neutralColorOne;

    h1 {
        font-family: $titleFont;
    }

    p {
        font-size: 0.8em;
        line-height: 25px;
    }

    #introVideo {
        width: 100%;
    }

    .aboutContent {
        display: grid;
        row-gap: 20px;

        h2 {
            font-family: $titleFont;
            font-size: 1.2em;
        }

        #slideshow {
            @include gridCenter();
            position: relative;
            height: 36vh;

            .slideshowButton {
                position: absolute;
                top: 90%;
                width: 20px;
                height: 20px;
                opacity: 0;
                z-index: 1;
            }

            #buttonOne {
                left: 14%;
            }

            #buttonTwo {
                left: 30%;
            }

            #buttonThree {
                left: 46%;
            }

            #buttonFour {
                right: 30%;
            }

            #buttonFive {
                right: 14%;
            }

            #buttonOne:checked ~ #restaurantOne, #buttonTwo:checked ~ #restaurantTwo, #buttonThree:checked ~ #restaurantThree, #buttonFour:checked ~ #restaurantFour, #buttonFive:checked ~ #restaurantFive {
                opacity: 1;
                transform: scaleX(1);
            }

            #buttonOne:checked ~ #slideshowNavigation #circleOne, #buttonTwo:checked ~ #slideshowNavigation #circleTwo, #buttonThree:checked ~ #slideshowNavigation #circleThree, #buttonFour:checked ~ #slideshowNavigation #circleFour, #buttonFive:checked ~ #slideshowNavigation #circleFive {
                background: $neutralColorOne;
            } 

            .restaurantImage {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                opacity: 0;
                transform: scaleX(0.8);

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            #slideshowNavigation {
                position: relative;
                @include gridCenter();
                grid-template-columns: auto auto auto auto auto;
                width: 80%;
                height: 100%;
                z-index: -1;
                
                .circleNav {
                    align-self: end;
                    width: 15px;
                    height: 15px;
                    border: 2px solid $neutralColorOne;
                    border-radius: 100%;
                }
            }
        }
    }
}
