@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

#mobileTabletHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  padding: 2% 0%;
  background: #f7f7f7;
}

#mobileTabletHeader > a {
  text-decoration: none;
}

#mobileTabletHeader > a .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #393e46;
  border-radius: 100%;
}

#mobileTabletHeader > a #logoOuterCircle {
  width: 38px;
  height: 38px;
}

#mobileTabletHeader > a #logoInnerCircle {
  width: 28px;
  height: 28px;
  border: 1.5px solid #f7f7f7;
  color: #f7f7f7;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 0.85em;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: 5;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileNavPages {
  top: 95%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarOne {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarTwo {
  background: transparent;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox:checked ~ #mobileHamburgerContainer #mobileBarThree {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 4;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
  width: 30px;
  height: 3px;
  background: #393e46;
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavPages {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: -60vh;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: #f7f7f7;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileTabletHeader #mobileHamburgerMenu #mobileNavPages a {
  width: 100%;
  padding: 5% 0%;
  text-align: center;
  text-decoration: none;
  color: #393e46;
  font-size: 0.9em;
}

#desktopHeader {
  display: none;
}

@media only screen and (min-width: 600px) {
  #mobileTabletHeader {
    background: pink;
    top: 6.9%;
    min-height: 7vh;
  }
  #mobileTabletHeader > a #logoOuterCircle {
    width: 55px;
    height: 55px;
  }
  #mobileTabletHeader > a #logoInnerCircle {
    width: 42px;
    height: 42px;
    font-size: 1.2em;
  }
  #mobileTabletHeader #mobileHamburgerMenu #mobileNavCheckbox {
    width: 30px;
    height: 30px;
  }
  #mobileTabletHeader #mobileHamburgerMenu #mobileHamburgerContainer {
    width: 30px;
    height: 30px;
  }
  #mobileTabletHeader #mobileHamburgerMenu #mobileHamburgerContainer .navBars {
    width: 32px;
    height: 4px;
  }
  #mobileTabletHeader #mobileHamburgerMenu #mobileNavPages {
    top: -100vh;
  }
  #mobileTabletHeader #mobileHamburgerMenu #mobileNavPages a {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1000px) {
  #mobileTabletHeader {
    display: none;
  }
  #desktopHeader {
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    position: fixed;
    top: 6.9%;
    min-height: 10vh;
    width: 100%;
    background: pink;
    color: #393e46;
  }
  #desktopHeader > a {
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    text-decoration: none;
    color: #393e46;
    font-size: 1em;
  }
  #desktopHeader h1 {
    font-family: "Lora", serif;
  }
  #desktopHeader .logo {
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: #393e46;
    border-radius: 100%;
  }
  #desktopHeader #logoOuterCircle {
    width: 38px;
    height: 38px;
  }
  #desktopHeader #logoInnerCircle {
    width: 28px;
    height: 28px;
    border: 1.5px solid #f7f7f7;
    color: #f7f7f7;
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 0.85em;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

#callButton {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 2%;
  width: 100%;
  background: white;
  -webkit-box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
          box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.4);
}

#callButton a {
  color: #393e46;
  text-decoration: none;
  padding: 5% 0%;
  width: 100%;
  text-align: center;
}

#callButton p {
  font-size: 0.85em;
}

#callButton #tabletDesktopPhoneNumber {
  display: none;
}

@media only screen and (min-width: 600px) {
  #callButton {
    top: 0;
    height: 5vh;
    padding: 1% 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #callButton a {
    display: none;
  }
  #callButton #tabletDesktopPhoneNumber {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #callButton {
    top: 0;
    height: 4vh;
    padding: 1% 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #callButton p {
    font-size: 1em;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 8vh;
  width: 100%;
}

footer #subscriptionForm {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeeeee;
  padding: 10%;
  min-height: 40vh;
  width: 80%;
  color: #393e46;
}

footer #subscriptionForm h1 {
  font-size: 1em;
}

footer #subscriptionForm p {
  font-size: 0.8em;
}

footer #subscriptionForm .inputSubscriptionForm {
  padding: 3%;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid #393e46;
}

footer #subscriptionForm #subscribeButton {
  font-size: 0.9em;
  background: #393e46;
  border-radius: 3px;
  color: white;
  width: 40%;
  padding: 3% 0%;
  text-align: center;
}

footer #socialLinksAndCopyright {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background: #f7f7f7;
  color: #393e46;
  font-size: 0.8em;
  text-align: center;
  min-height: 20vh;
  width: 100%;
  padding: 3% 0%;
}

footer #socialLinksAndCopyright #socialMedia {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 70%;
}

footer #socialLinksAndCopyright #socialMedia a {
  text-decoration: none;
}

footer #mobileFooterSpacer {
  width: 100%;
  padding: 6% 0%;
}

@media only screen and (min-width: 600px) {
  footer {
    margin-top: 10vh;
  }
  footer #subscriptionForm {
    row-gap: 40px;
  }
  footer #subscriptionForm h1 {
    font-size: 1.8em;
  }
  footer #subscriptionForm p {
    font-size: 1.4em;
  }
  footer #subscriptionForm .inputSubscriptionForm {
    font-size: 1.2em;
  }
  footer #subscriptionForm #subscribeButton {
    font-size: 1.3em;
    width: 30%;
  }
  footer #socialLinksAndCopyright {
    font-size: 1.1em;
  }
  footer #socialLinksAndCopyright #socialMedia {
    padding: 4% 0%;
  }
  footer #socialLinksAndCopyright #socialMedia img {
    width: 45px;
  }
  footer #mobileFooterSpacer {
    display: none;
  }
}

#currentPage {
  background: #eeeeee;
}

section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 30px;
  margin-top: 15vh;
  min-height: 90vh;
  padding: 0% 10%;
  color: #393e46;
}

section h1 {
  font-family: "Lora", serif;
}

section p {
  font-size: 0.8em;
  line-height: 25px;
}

section #introVideo {
  width: 100%;
}

section .aboutContent {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

section .aboutContent h2 {
  font-family: "Lora", serif;
  font-size: 1.2em;
}

section .aboutContent .tomatoDivider {
  -ms-grid-column-align: center;
      justify-self: center;
}

section .aboutContent #slideshow {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  height: 40vh;
  margin-bottom: 5%;
}

section .aboutContent #slideshow .slideshowButton {
  position: absolute;
  top: 90%;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 1;
}

section .aboutContent #slideshow #buttonOne {
  left: 14%;
}

section .aboutContent #slideshow #buttonTwo {
  left: 30%;
}

section .aboutContent #slideshow #buttonThree {
  left: 46%;
}

section .aboutContent #slideshow #buttonFour {
  right: 30%;
}

section .aboutContent #slideshow #buttonFive {
  right: 14%;
}

section .aboutContent #slideshow #buttonOne:checked ~ #restaurantOne, section .aboutContent #slideshow #buttonTwo:checked ~ #restaurantTwo, section .aboutContent #slideshow #buttonThree:checked ~ #restaurantThree, section .aboutContent #slideshow #buttonFour:checked ~ #restaurantFour, section .aboutContent #slideshow #buttonFive:checked ~ #restaurantFive {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

section .aboutContent #slideshow #buttonOne:checked ~ #slideshowNavigation #circleOne, section .aboutContent #slideshow #buttonTwo:checked ~ #slideshowNavigation #circleTwo, section .aboutContent #slideshow #buttonThree:checked ~ #slideshowNavigation #circleThree, section .aboutContent #slideshow #buttonFour:checked ~ #slideshowNavigation #circleFour, section .aboutContent #slideshow #buttonFive:checked ~ #slideshowNavigation #circleFive {
  background: #393e46;
}

section .aboutContent #slideshow .restaurantImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

section .aboutContent #slideshow .restaurantImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .aboutContent #slideshow #slideshowNavigation {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  width: 80%;
  height: 100%;
  z-index: -1;
}

section .aboutContent #slideshow #slideshowNavigation .circleNav {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 15px;
  height: 15px;
  border: 2px solid #393e46;
  border-radius: 100%;
}
/*# sourceMappingURL=about.css.map */