@import "../partials/globals";
@import "../partials/header";
@import "../partials/callButton";
@import "../partials/footer";

#currentPage {
    background: $secondaryColor;
}

section {
    @include gridCenter();
    row-gap: 30px;
    margin-top: 15vh;
    min-height: 90vh;
    padding: 0% 10%;
    color: $neutralColorOne;

    h1 {
        font-family: $titleFont;
    }

    p {
        font-size: 0.8em;
        line-height: 25px;
    }

    #introVideo {
        width: 100%;
    }

    .aboutContent {
        display: grid;
        row-gap: 20px;

        h2 {
            font-family: $titleFont;
            font-size: 1.2em;
        }

        #slideshow {
            @include gridCenter();
            height: 35vh;
            background: url(/images/restaurant/restaurantImage1.jpg);
            background-size: cover;
            background-position: center center;
            animation: restaurantSlideshow 5s infinite 5s;
        }
    }
}
